
.ms-3 {
    margin-left: 1rem!important;
}

.text-end {
    text-align: right!important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
}